@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.dock-menu {
    @include mixins.glass;
    height: variables.$dock-menu-height;
    button {
        @include mixins.hover-animation;
        @include mixins.tooltip;
        padding: 0 0.75rem;
        color: #fff;
        height: 2rem;
        i {
            font-size: 1.5rem;
            color: var(--dark-color);
        }
        &.btn-diary {
            @include mixins.background-color-button(#3e2723, 2.25rem);
        }
        &.btn-todo {
            @include mixins.background-color-button(var(--todo-color), 2.25rem);
        }
        &.btn-shutdown {
            i {
                font-size: 2rem;
            }
        }
    }
}
