@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.drawer-menu {
    @include mixins.glass;
    height: 100vh;
    max-width: variables.$drawer-menu-width;
    transition-property: width;
    transition: 0.3s ease-out;
    overflow: hidden;
    width: 0;
    padding: 0;
    &--active {
        padding: 0.5rem;
        width: variables.$drawer-menu-width;
    }
}
