@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.modal-dialog {
    &__card {
        min-width: calc(100vw / 3);
        box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        height: fit-content;
        overflow: hidden;
        background-color: #fff;
        box-sizing: border-box;
        padding: 0.25rem 0;
        &-header {
            padding: 0 2rem;
            height: variables.$dock-menu-height;
            button {
                @include mixins.hover-button;
                i {
                    font-size: 1.75rem;
                }
            }
        }
        &-content {
            min-height: calc(variables.$dock-menu-height * 2);
        }
        &-actions {
            height: calc(variables.$dock-menu-height * 1.5);
            padding: 1rem;
            button {
                @include mixins.hover-button;
                border-radius: 0.25rem;
                width: 40%;
                height: 100%;
                &.btn-cancel {
                    background-color: #ececec;
                }
                &.btn-confirm {
                    background-color: var(--dark-color);
                    color: #fff;
                }
            }
        }
    }
}
