@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-card {
    @include mixins.glass;
    @include mixins.scale-animation(0.95, 0.95, hover);
    height: 100%;
    backdrop-filter: unset;
    cursor: pointer;
    padding: 0.5rem;
    &__header {
        height: 10%;
        padding: 0 0.25rem;
        .text-title {
            font-family: 'Pretendard SemiBold';
        }
    }
    &__content {
        height: 70%;
        padding: 0.25rem;
        overflow-y: hidden;
        width: 100%;
    }
    &__footer {
        height: 20%;
        p {
            font-size: 0.9rem;
            line-height: 1;
        }
    }
}
