@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-file {
    &__content {
        &-item {
            @include mixins.glass-animation;
            @include mixins.scale-animation;
            gap: 0.125rem;
            padding: 0.125rem;
            i {
                font-size: 1.2rem;
                line-height: 1;
                &.mdi-folder {
                    color: variables.$folder-color;
                }
            }
            p.text-title {
                font-size: 0.9rem;
                font-family: 'Pretendard SemiBold';
                line-height: 1;
            }
            &:active {
                transform: scale(0.8);
            }
        }
    }
}
