@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-tree {
    &__content {
        &-item {
            @include mixins.glass-animation;
            @include mixins.scale-animation(0.92, 0.92);
            gap: 0.125rem;
            padding: 0.125rem;
            i {
                font-size: 1.2rem;
                line-height: 1;
                &.mdi-folder {
                    color: variables.$folder-color;
                }
            }
            p.text-title {
                font-size: 0.9rem;
                font-family: 'Pretendard SemiBold';
                line-height: 1;
            }
            input.diary-name-field {
                font-size: 0.9rem;
                font-family: 'Pretendard SemiBold';
                line-height: 1;
                width: 100%;
            }
            &--active {
                background-color: rgba(#fff, 0.3);
                border-radius: 0.25rem;
            }
        }
    }
}
