@use '@/assets/css/abstracts/variables';
@mixin pulse-animation($color, $range: 1, $unique-id: 'animation') {
    $animation-name: pulse-#{$unique-id};
    animation: #{$animation-name} 1.5s infinite ease-out;
    border-radius: 0.25rem;
    @keyframes #{$animation-name} {
        0% {
            box-shadow: 0 0 0 0 rgba($color, 0.5);
        }
        50% {
            box-shadow: 0 0 0 calc(0.75rem * $range) rgba($color, 0);
        }
        100% {
            box-shadow: 0 0 0 calc(3rem * $range) rgba($color, 0);
        }
    }
}
@mixin neon-animation($color: #fff) {
    background: $color;
    box-shadow: 0 0 1.5rem $color;
    transition: 0.5s box-shadow;
    will-change: box-shadow;
    &:hover {
        box-shadow:
            0 0 0.5rem $color,
            0 0 1rem $color,
            0 0 3rem $color,
            0 0 6rem $color;
    }
}
@mixin scale-animation($scaleX: 0.9, $scaleY: 0.9, $state: active) {
    transition-property: transform;
    transition-duration: 0.2s;
    will-change: transform;
    &:#{$state} {
        transform: scaleX($scaleX) scaleY($scaleY);
    }
}
@mixin glass-animation($color: #fff, $opacity: 0.1) {
    /*
        transition-property: background-color;
        transition-duration: 0.2s;
        will-change: background-color;
    */
    &:hover {
        background-color: rgba($color, $opacity);
        border-radius: 0.25rem;
    }
}
@mixin tooltip() {
    position: relative;
    .tooltip {
        @include glass(variables.$dark-color);
        position: absolute;
        z-index: 50000;
        bottom: 125%;
        left: 50%;
        padding: 0.5rem 0.5rem;
        min-width: fit-content;
        border-radius: 0.5rem;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-50%);
        font-size: 0.9rem;
        text-align: center;
        white-space: nowrap;
        color: #fff;
    }
    .tooltip::after {
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 0.25rem;
        border-style: solid;
        border-color: variables.$dark-color transparent transparent transparent;
        transform: translateX(-50%);
        opacity: 0.5;
        content: '';
    }
    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
    & .tooltip-bottom {
        top: 100%;
        left: 50%;
        bottom: unset !important;
    }
    & .tooltip-bottom::after {
        top: -0.5rem;
        border-color: transparent transparent variables.$dark-color transparent !important;
    }
}
@mixin glass($color: variables.$window-color, $opacity: 0.6, $use-backdrop-filter: false) {
    background: rgba($color, $opacity);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    // 성능 이슈로 필요한 경우에만 사용
    @if $use-backdrop-filter {
        backdrop-filter: blur(2px);
    }
}
@mixin cubic($color, $height: 100%, $opacity: 0.5) {
    width: $height;
    height: $height;
    border-radius: 0.25rem;
    background-color: rgba($color, $opacity);
    transition: 0.3s;
    i {
        font-size: ($height * 0.75);
        color: #fff;
    }
    &:hover {
        background-color: rgba(#fff, 0.75);
        i {
            color: $color;
            opacity: 0.5;
        }
    }
    &:active {
        transform: scale(0.9);
    }
}
