@charset "utf-8";
/* 
💡 어플리케이션 레이아웃 핵심 값
    page-layout-padding: page-layout 컴포넌트에서 좌우 양옆으로 padding 보정치를 주고 있다.
    drawer-menu-width: 좌측에서 출현하는 수납 영역에 대한 넓이 입니다.
*/
$page-layout-padding: 0.25rem;
$dock-menu-height: calc(3.5rem - $page-layout-padding);
$drawer-menu-width: 15rem;

// 색상
$dark-deep-color: #000;
$dark-color: #1e2a3a;
$gray-color: #c3c3c3;
$gray-light-color: #eee;
$primary-color: #008cff;
$folder-color: #ffe9a2;
$border-color: #e5e7eb;
$danger-color: #b00020;
$warning-color: #ff9800;
$success-color: #4caf50;
$window-color: #f6f6f6;
$diary-color: #8a2be2;
$todo-color: $primary-color;
$crawler-color: #28a745;
$crawler-light-color: #1eff43;
// 테마 색상
$theme-color: $primary-color;
