@import '@/assets/css/font';
@import '@/assets/css/animation';
$themeColor1: #319bc9;
$themeColor2: #9ceaef;
$themeColor3: #b0f2b4;
$themeColorG1: linear-gradient(
    90deg,
    var(--theme-color-1) 0%,
    var(--theme-color-2) 100%
);
$dark: #313131;
$folder: #ffe9a2;
:root {
    --theme-color-1: #{$themeColor1};
    --theme-color-2: #{$themeColor2};
    --theme-color-3: #{$themeColor3};
    --theme-color-g1: #{$themeColorG1};
    --dark-color: #{$dark};
    --folder-color: #{$folder};
    --success-color: #06d6a0;
    --app-header-height: 48px;
}
*::-webkit-scrollbar {
    display: none;
}
p {
    margin: 0 !important;
}
p,
span,
input {
    font-family: 'Pretendard';
    color: $dark;
}
b,
button {
    font-family: 'Pretendard';
    color: $dark;
}
h1 {
    font-family: 'Pretendard';
}
ul {
    list-style: none;
    padding-left: unset !important;
}
code {
    background-color: unset !important;
}
// 배경 색상
.bg-theme-1 {
    background: var(--theme-color-1);
}
.bg-theme-g1 {
    background: var(--theme-color-g1);
}
.bg-theme-2 {
    background: var(--theme-color-2);
}
.bg-theme-3 {
    background: var(--theme-color-3);
}
// 테두리 테마
.border-theme-g1 {
    border: 1px solid var(--theme-color-g1);
}
.full-width,
.fill-width {
    width: 100%;
}
.skip-native-drag {
    -webkit-app-region: no-drag;
}
.native-drag {
    -webkit-app-region: drag;
}
