@import '@/assets/css/font';
$themeColor1: #247ba0;
$themeColor2: #9ceaef;
$themeColor3: #f7fff7;

$dark: #313131;
$folder: #ffe9a2;
:root {
    --theme-color: #{$themeColor1};
    --theme-color-1: #{$themeColor1};
    --theme-color-2: #{$themeColor2};
    --theme-color-3: #{$themeColor3};
    --dark-color: #{$dark};
    --folder-color: #{$folder};
    --success-color: #06d6a0;
    --app-header-height: 48px;
}
*::-webkit-scrollbar {
    display: none;
}
p {
    margin: 0 !important;
}
p,
span,
input {
    font-family: 'Nanum Gothic';
    color: $dark;
}
b,
button {
    font-family: 'Nanum Gothic Bold';
    color: $dark;
}
ul {
    list-style: none;
    padding-left: unset !important;
}
code {
    background-color: unset !important;
}
// slide 트랜지션
.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}
.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}
// fade 트랜지션
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
// 색상
.bg-theme {
    background: var(--theme-color);
}
.fill-width {
    width: 100%;
}
.skip-native-drag {
    -webkit-app-region: no-drag;
}
.native-drag {
    -webkit-app-region: drag;
}
.bg-theme-linear {
    background: linear-gradient(
        90deg,
        var(--theme-color-1) 0%,
        var(--theme-color-2) 100%
    );
}
.app-toast {
    display: flex;
    align-items: center;
    padding: 12px;
    i {
        font-size: 24px;
        margin-right: 8px;
    }
    p {
        font-size: 16px;
        font-family: 'Nanum Gothic Bold';
        color: #fff;
    }
}
