@use '@/assets/css/abstracts/variables';
:root {
    --dark-color: #{variables.$dark-color};
    --gray-color: #{variables.$gray-color};
    --primary-color: #{variables.$primary-color};
    --folder-color: #{variables.$folder-color};
    --border-color: #{variables.$border-color};
    --danger-color: #{variables.$danger-color};
    --success-color: #{variables.$success-color};
    --window-color: #{variables.$window-color};
    --todo-color: #{variables.$todo-color};
    --diary-color: #{variables.$diary-color};
    --theme-color: #{variables.$theme-color};
    --drawer-menu-width: #{variables.$drawer-menu-width};
    --page-layout-padding: #{variables.$page-layout-padding};
}
*::-webkit-scrollbar {
    display: none;
}
* {
    outline: none;
    background-color: transparent;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow: hidden;
}
ul {
    padding-left: unset !important;
}
li {
    list-style: none;
}
code {
    background-color: unset !important;
}
input,
textarea {
    border: none;
}
p {
    margin: 0 !important;
}
p,
span,
input,
button,
textarea,
select,
label,
td {
    font-size: 1rem;
    font-family: 'Pretendard';
    font-weight: 400;
    line-height: 1;
    color: variables.$dark-color;
}
b,
th {
    font-size: 1rem;
    font-family: 'Pretendard SemiBold';
    font-weight: 700;
    line-height: 1;
    color: variables.$dark-color;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Pretendard Bold';
    line-height: 1;
}
