@mixin neon-button ($background-color: #fff) {
    border: none;
    transition: 0.5s box-shadow ease;
    background: $background-color;
    box-shadow: 0 0 1.5rem $background-color;
    &:hover {
      box-shadow: 
        0 0 .5rem $background-color,
        0 0 1rem $background-color,
        0 0 3rem $background-color,
        0 0 6rem $background-color;
    }
}

@mixin hover-button {
    transition: all .5s ease-out;
    &:hover {
        background-color: rgba(170, 170, 170, 0.2);
    }
    &:active {
        transform: scale(1.2);
    }
}
@mixin tooltip () {
    position: relative;
    .tooltip {
        position: absolute;
        z-index: 10000;
        bottom: 125%;
        left: 50%;
        padding: .25rem .5rem;
        background-color: var(--dark-color);
        min-width: fit-content;
        border-radius: .5rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        transform: translateX(-50%);
        // 폰트 관련
        text-align: center;
        white-space: nowrap;
        color: #fff;
    }
    .tooltip::after {
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: .25rem;
        border-style: solid;
        border-color: var(--dark-color) transparent transparent transparent;
        transform: translateX(-50%);
        content: "";
    }
    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
    & .tooltip-bottom {
        top: 100%;
        left: 50%;
        bottom: unset !important;
    }
    & .tooltip-bottom::after {
        top: -0.5rem;
        border-color: transparent transparent  var(--dark-color) transparent !important;
    }
}
@mixin glass ($background-color: var(--window-color)) {
    border: 1px solid $background-color;
    background-color: $background-color;
    backdrop-filter: blur(.75rem);
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.3);
}
@mixin round-button($background-color, $height, $border-radius: .25rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $height;
    height: $height;
    border-radius: $border-radius;
    background-color: $background-color;
    transition: 0.3s;
    i {
        transition: 0.3s;
        font-size: ($height * 0.75);
        color: #fff;
    }
    &:hover {
        background-color: #f2f2f2;
        box-shadow: 0px 0px 6px 3px var(--dark-light-color);
        i {
            color: $background-color;
        }
    }
}