@mixin pulse-animation($color) {
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba($color, 1);
        }
        50% {
            box-shadow: 0 0 0 0.75rem rgba($color, 0);
        }
        100% {
            box-shadow: 0 0 0 3rem rgba($color, 0);
        }
    }
    animation: pulse 1.5s infinite ease-out;
}
@mixin neon-button($background-color: #fff) {
    transition: 0.5s box-shadow ease;
    background: $background-color;
    box-shadow: 0 0 1.5rem $background-color;
    &:hover {
        box-shadow:
            0 0 0.5rem $background-color,
            0 0 1rem $background-color,
            0 0 3rem $background-color,
            0 0 6rem $background-color;
    }
}
@mixin hover-button {
    transition-property: opacity, transform;
    transition: 0.2s ease-out;
    &:hover {
        opacity: 0.6;
    }
    &:active {
        transform: scale(0.9);
    }
}
@mixin tooltip() {
    position: relative;
    .tooltip {
        position: absolute;
        z-index: 10001;
        bottom: 125%;
        left: 50%;
        padding: 0.5rem 0.5rem;
        background-color: var(--dark-color);
        min-width: fit-content;
        border-radius: 0.5rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        transform: translateX(-50%);
        // 폰트 관련
        font-size: 0.9rem;
        text-align: center;
        white-space: nowrap;
        color: #fff;
    }
    .tooltip::after {
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 0.25rem;
        border-style: solid;
        border-color: var(--dark-color) transparent transparent transparent;
        transform: translateX(-50%);
        content: '';
    }
    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
    & .tooltip-bottom {
        top: 102%;
        left: 50%;
        bottom: unset !important;
    }
    & .tooltip-bottom::after {
        top: -0.5rem;
        border-color: transparent transparent var(--dark-color) transparent !important;
    }
}
@mixin glass($background-color: var(--window-color)) {
    border: 1px solid $background-color;
    background-color: $background-color;
    backdrop-filter: blur(0.75rem);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
}
@mixin round-button($background-color, $height, $border-radius: 0.25rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $height;
    height: $height;
    border-radius: $border-radius;
    background-color: $background-color;
    transition: 0.3s;
    i {
        font-size: ($height * 0.75);
        color: #fff;
    }
    &:hover {
        background-color: #f2f2f2;
        i {
            color: $background-color;
        }
    }
}
