/* TODO 리팩토링 해야 함 */
.d2coding {
    font-family: 'D2Coding' !important;
}
.theme-color-1 {
    color: var(--theme-color-1);
}

// 테두리 테마
.full-width,
.fill-width {
    width: 100%;
}
/** */
.skip-native-drag {
    -webkit-app-region: no-drag;
}
.native-drag {
    -webkit-app-region: drag;
}
.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
