@charset "utf-8";
// 높이 및 넓이
$app-dock-height: 3rem;
// 색상
$dark-color: #313131;
$dark-light-color: #2d2d2d;
$sky-blue-color: #5dc8e9ff;
$primary-color: #008cff;
$folder-color: #ffe9a2;
$border-color: #e5e7eb;
$danger-color: #B00020;
$success-color: #06d6a0;
$window-color: #f0f0f0;