@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.todo-page {
    $article-header: 3rem;
    height: calc(100vh - variables.$dock-menu-height);
    width: 100vw;
    &__header {
        @include mixins.glass;
        height: $article-header;
        button {
            @include mixins.hover-button;
            @include mixins.tooltip;
            padding: 0 1rem;
            height: 2.25rem;
            i {
                font-size: 1.5rem;
            }
            i.mdi-flag-variant {
                color: var(--todo-color);
            }
        }
    }
    &__content {
        height: calc(100vh - variables.$dock-menu-height - $article-header);
        overflow-x: scroll;
        padding: 1rem 0.5rem;
        &-item {
            $item-size: 16rem;
            height: 100%;
            width: calc($item-size + 1rem);
            min-width: calc($item-size + 1rem);
            background-color: #f6f6f6;
            border-radius: 0.25rem;
            overflow-y: scroll;
            &-header {
                background-color: var(--todo-color);
                b {
                    color: #fff;
                }
            }
            .todo-card {
                width: $item-size;
                height: calc($item-size / 1.5);
            }
        }
        // 우측 공간 뿌옇게 함
        /*
        &:after {
            position: fixed;
            right: 0;
            width: 1.5rem;
            height: calc(100vh - variables.$dock-menu-height - $article-header);
            content: '';
            z-index: 1;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0,
                rgba(255, 255, 255, 0.7) 40%,
                #fff 70%
            );
        }
        */
    }
}
