@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.index-page {
    $article-header: 3rem;
    height: calc(100vh - variables.$app-dock-height);
    &__header {
        @include mixins.glass;
        height: $article-header;
        button {
            @include mixins.hover-button;
            @include mixins.tooltip;
            padding: 0 1rem;
            height: 2.25rem;
            i {
                font-size: 1.5rem;
            }
            i.mdi-flag-variant {
                color: var(--todo-color);
            }
        }
    }
    &__content {
        height: 100%;
        overflow: scroll;
        padding: 1rem;
        &-item {
            &-header {
                background-color: var(--todo-color);
                color: #fff;
            }
            height: calc(100vh - variables.$app-dock-height - $article-header);
            $item-size: 16rem;
            height: 100%;
            width: calc($item-size + 2rem);
            min-width: calc($item-size + 1rem);
            background: #f6f6f6;
            h5 {
                font-size: 1rem;
            }
            .todo-card {
                width: $item-size;
                height: calc($item-size / 1.5);
            }
        }
        // 우측 공간 뿌옇게 함
        /*
        &:after {
            position: fixed;
            right: 0;
            width: 1.5rem;
            height: calc(100vh - variables.$app-dock-height - $article-header);
            content: '';
            z-index: 1;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0,
                rgba(255, 255, 255, 0.7) 40%,
                #fff 70%
            );
        }
        */
    }
}
