.todo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    cursor: pointer;
    h5 {
        font-size: 1rem;
    }
    .period {
        font-size: .9rem;
    }
}