@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.todo-card {
    @include mixins.glass;
    cursor: pointer;
    padding: 0.5rem;
    &__header {
        flex: 0 1 50%;
        button.btn-close {
            @include mixins.hover-button;
            border-radius: 0.25rem;
            padding: 0.1rem;
            i {
                font-size: 1.2rem;
            }
        }
    }
    &__actions {
        flex: 0 1 50%;
        .period {
            background-color: #c3c3c3;
            color: #fff;
            height: fit-content;
            width: fit-content;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            font-size: 0.9rem;
            text-wrap: nowrap;
            box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
            &--alive {
                background-color: var(--success-color);
            }
            &--expired {
                background-color: var(--danger-color);
            }
        }
    }
}
