@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.todo-form {
    height: 70vh;
    width: 50vw;
    padding: 0 2rem;
    &__content {
        flex: 0 1 85%;
        overflow-y: scroll;
        .text-error {
            color: var(--danger-color);
        }
    }
    &__actions {
        flex: 0 0 15%;
        width: 100%;
        button {
            @include mixins.scale-animation;
            border-radius: 0.25rem;
            height: 2.5rem;
            width: 50%;
            &.btn-cancel {
                background-color: #ececec;
            }
            &.btn-submit {
                background-color: var(--todo-color);
                color: #fff;
                &:disabled {
                    transform: unset;
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}
