@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.worker-page {
    height: 100%;
    gap: variables.$page-layout-padding;
    &__content {
        @include mixins.glass;
        position: relative;
        flex: 1;
        padding: 1rem;
        .worker {
            $card-height: 25vh;
            $card-width: calc($card-height * 0.8);
            $card-count: 4;
            flex: 1;
            .text-title {
                font-size: 1.25rem;
            }
            .text-desc {
                font-size: 0.9rem;
            }
            &-container {
                height: calc($card-height * 1.1);
                background-color: rgba(#fff, 0.3);
                border-radius: 0.25rem;
                overflow-x: auto;
                padding: 0.5rem !important;
                padding-bottom: 0.75rem !important;
                &:active {
                    user-select: none;
                    cursor: grabbing;
                }
                .base-card {
                    flex: 0 0 $card-width;
                }
            }
            &-panel {
                position: relative;
                .base-card {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: $card-height;
                    width: $card-width;
                    transition: transform 0.5s;
                    @for $i from 1 through $card-count {
                        &:nth-child(#{$i}) {
                            transform: translate(-50%, -10%)
                                rotate(calc(-30deg / 2 + 30deg / ($card-count + 1) * $i));
                            transform-origin: center 225%;
                        }
                    }
                }
                &:hover {
                    @for $i from 1 through $card-count {
                        .command-card:nth-child(#{$i}) {
                            transform: translate(-50%, -15%)
                                rotate(calc(-75deg / 2 + 75deg / ($card-count + 1) * $i));
                        }
                    }
                }
            }
        }
    }
    &__actions {
        @include mixins.glass;
        flex: 0 0 variables.$dock-menu-height;
        padding: 0.25rem 0.5rem;
        button {
            height: 100%;
            border-radius: 0.25rem;
            &.btn-run {
                @include mixins.neon-animation(variables.$crawler-color);
                width: calc(2.25rem * 3 + 0.25rem * 5);
                color: #fff;
                text-wrap: nowrap;
                border: 2px solid variables.$crawler-light-color;
                transition-property: transform, box-shadow;
                transition-duration: 0.3s;
                &:not(:disabled) {
                    &:active {
                        transform: scale(0.9, 0.9);
                    }
                }
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}
