@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.worker-page {
    height: 100%;
    max-width: calc(100vw - variables.$drawer-menu-width - variables.$page-layout-padding * 3);
    gap: variables.$page-layout-padding;
    &__content {
        @include mixins.glass;
        position: relative;
        flex: 1;
        padding: 1rem;
        .worker {
            $card-height: 12rem;
            $card-width: 9rem;
            $card-count: 3;
            flex: 1;
            .text-title {
                font-size: 1.25rem;
            }
            .text-desc {
                font-size: 0.9rem;
            }
            &-container {
                height: calc($card-height * 1.1);
                .base-card {
                    flex: 0 0 $card-width;
                }
            }
            &-panel {
                position: relative;
                .base-card {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: $card-height;
                    width: $card-width;
                    transition: transform 0.5s;
                    @for $i from 1 through $card-count {
                        &:nth-child(#{$i}) {
                            transform: translate(-50%, -10%)
                                rotate(calc(-30deg / 2 + 30deg / ($card-count + 1) * $i));
                            transform-origin: center 225%;
                        }
                    }
                }
                &:hover {
                    @for $i from 1 through $card-count {
                        .command-card:nth-child(#{$i}) {
                            transform: translate(-50%, -15%)
                                rotate(calc(-75deg / 2 + 75deg / ($card-count + 1) * $i));
                        }
                    }
                }
            }
        }
    }
    &__actions {
        @include mixins.glass;
        flex: 0 0 variables.$dock-menu-height;
        padding: 0.5rem;
        button {
            height: 100%;
            border-radius: 0.25rem;
            &.btn-save {
                @include mixins.neon-animation(variables.$crawler-color);
                @include mixins.tooltip;
                border: 1px solid #1eff43;
                width: 2.25rem;
                transition-property: transform, box-shadow;
                transition-duration: 0.3s;
                i {
                    font-size: 1.75rem;
                    color: #fff;
                }
                &:active {
                    transform: scale(0.8, 0.8);
                }
            }
            &.btn-run {
                @include mixins.neon-animation(variables.$crawler-color);
                border: 1px solid #1eff43;
                color: #fff;
                width: calc(2.25rem * 2 + 0.25rem * 3);
                text-wrap: nowrap;
                transition-property: transform, box-shadow;
                transition-duration: 0.3s;
                &:active {
                    transform: scale(0.8, 0.8);
                }
            }
        }
    }
}
