@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.worker-page {
    $article-header: 3rem;
    $command-card-height: 12rem;
    $comamnd-card_width: 9rem;
    $command-count: 3;
    height: calc(100% - variables.$dock-menu-height);
    padding-bottom: variables.$page-layout-padding;
    gap: variables.$page-layout-padding;
    &__header {
        @include mixins.glass;
        height: $article-header;
        padding: 0 0.5rem;
        i.mdi-robot {
            color: variables.$crawler-color;
            opacity: 0.5;
        }
        i.mdi-chevron-right {
            font-size: 1.5rem;
        }
        button {
            @include mixins.glass-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            &:has(b) {
                padding: 0 0.25rem;
            }
            &.btn-drawer {
                width: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
            &.btn-back {
                @include mixins.scale-animation;
                width: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__content {
        @include mixins.glass;
        flex: 1;
        padding: 1rem;
        position: relative;
        .worker {
            flex: 1;
            b.text-title {
                font-size: 1.25rem;
            }
            p.text-desc {
                font-size: 0.9rem;
            }
            &-container {
                height: calc($command-card-height * 1.1);
                width: 100%;
                border-radius: 0.25rem;
                background-color: rgba(variables.$dark-color, 0.8);
                padding: 0 0.5rem !important;
            }
            .command-card {
                height: $command-card-height;
                width: $comamnd-card_width;
            }
        }
    }
    &__actions {
        @include mixins.glass;
        flex: 0 0 variables.$dock-menu-height;
        .command-panel {
            flex: 0 0 $command-card-height;
            position: relative;
            .command-card {
                position: absolute;
                left: calc($comamnd-card_width * 1.5);
                bottom: 0;
                height: $command-card-height;
                width: $comamnd-card_width;
                transition: transform 0.5s;
                @for $i from 1 through $command-count {
                    &:nth-child(#{$i}) {
                        transform: translate(-50%, -2rem)
                            rotate(-30deg / 2 + 30deg / ($command-count + 1) * $i);
                        transform-origin: center 225%;
                    }
                }
            }
            &:hover {
                @for $i from 1 through $command-count {
                    .command-card:nth-child(#{$i}) {
                        transform: translate(-50%, -2rem)
                            rotate(-75deg / 2 + 75deg / ($command-count + 1) * $i);
                    }
                }
            }
        }
    }
}
