.diary-editor-page {
    $rowHeader: 48px;
    $rowFooter: 48px;
    height: calc(100vh - var(--app-header-height));
    &__card {
        &-header {
            height: $rowHeader;
            flex-shrink: 0;
        }
        &-editor {
            height: calc(100% - $rowHeader - $rowFooter);
            overflow-x: hidden;
            textarea {
                background: rgba(246, 246, 246);
                height: 100%;
                font-family: 'd2coding', courier, monospace;
                font-size: 14px;
                border: none;
                resize: none;
                outline: none;
            }
            .resizer {
                flex-shrink: 1;
                position: relative;
                height: 100%;
                width: 4px;
                border-left: 1.5px dotted var(--theme-color-1);
                cursor: col-resize;
            }
        }
        &-actions {
            height: $rowFooter;
            flex-shrink: 0;
            .btn-save {
                background: var(--theme-color-1);
            }
        }
    }
}
