.diary-page {
    $rowHeader: 48px;
    &__header {
        display: flex;
        align-items: center;
        height: $rowHeader;
    }
    &__recently-items {
        height: 100%;
        min-height: 320px;
        max-height: 320px;
        width: 100%;
    }
}
