.diary-page {
    $rowHeader: 48px;
    &__header {
        height: $rowHeader;
    }
    &__recently-items {
        height: 100%;
        min-height: 320px;
        max-height: 320px;
        width: 100%;
    }
    .btn-folder {
        i {
            color: var(--folder-color);
        }
    }
}
