.todo-page {
    height: 100%;
    max-width: unset !important;
    &__card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__container {
        position: relative;
        flex: 1;
        flex-wrap: nowrap;
        overflow-x: scroll;
        &-box {
            height: 100%;
            $boxWidth: 240px;
            min-width: $boxWidth;
            background: rgba(246, 246, 246);
            h5 {
                font-size: 1rem;
            }
        }
        // 우측 공간 뿌옇게 함
        &:after {
            position: fixed;
            right: 0;
            width: 24px;
            height: 100%;
            content: "";
            z-index: 1;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 40%, #fff 70%);
        }
    }
}