.worker-container {
    background-color: rgba(#fff, 0.3);
    border-radius: 0.25rem;
    cursor: grab;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &:active {
        user-select: none;
        cursor: grabbing;
    }
}
