@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.worker-card {
    @include mixins.scale-animation;
    min-height: 4rem;
    height: 100%;
    width: 100%;
    background-color: variables.$dark-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    b,
    p,
    span,
    i {
        color: #fff;
        font-size: 0.9rem !important;
    }
    button {
        @include mixins.glass-animation;
        border-radius: 50%;
    }
    &--active {
        background-color: rgba(variables.$crawler-color, 0.75);
    }
}
