@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.worker-drawer-menu {
    $search-field-height: calc(variables.$dock-menu-height / 2);
    @include mixins.glass;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    &__header {
        flex: 0 0 $search-field-height;
        .text-field__input {
            padding: unset;
            border: unset;
            height: $search-field-height;
            font-size: 0.9rem;
            min-height: unset;
            background-color: rgba(#fff, 0.3);
            padding: 0 0.5rem;
            &::placeholder {
                color: variables.$dark-color;
            }
        }
    }
    &__content {
        flex: 1 0;
        overflow-y: scroll;
        .worker-card {
            @include mixins.scale-animation;
            min-height: 4rem;
            height: 100%;
            width: 100%;
            background-color: variables.$dark-color;
            border-radius: 0.25rem;
            padding: 0.5rem;
            cursor: pointer;
            b,
            p,
            span,
            i {
                font-size: 0.9rem !important;
                color: #fff;
            }
            button {
                @include mixins.glass-animation;
                border-radius: 50%;
                &.btn-schedule {
                    @include mixins.tooltip;
                    i {
                        font-size: 1.25rem !important;
                    }
                }
            }
            &--active {
                background-color: rgba(variables.$crawler-color, 0.8);
                border: 1px solid variables.$crawler-light-color;
            }
        }
    }
    &__actions {
        flex: 0 0 $search-field-height * 1.5;
        button.btn-create {
            @include mixins.scale-animation;
            background-color: variables.$dark-color;
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
            b {
                color: #fff;
            }
        }
    }
}
