@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.todo-form {
    height: 70vh;
    width: 100%;
    padding: 0 2rem;
    &__content {
        flex: 0 0 85%;
        overflow-y: auto;
        label.text-label {
            font-size: 1rem;
            font-family: 'Pretendard Bold';
            font-weight: 700;
            line-height: 1.5;
            padding: 0 0.25rem;
        }
        button.btn-create-sprint {
            @include mixins.scale-animation(0.95, 0.95);
            @include mixins.tooltip;
            height: 2.5rem;
            width: 100%;
            background-color: rgba(variables.$todo-color, 1);
            border-radius: 0.25rem;
            i {
                font-size: 1.5rem;
                color: #fff;
            }
            @include mixins.pulse-animation(variables.$todo-color);
        }
    }
    &__actions {
        flex: 0 0 15%;
        width: 100%;
        button {
            @include mixins.scale-animation;
            border-radius: 0.25rem;
            height: 2.5rem;
            width: 50%;
            &.btn-cancel {
                background-color: variables.$gray-light-color;
            }
            &.btn-submit {
                background-color: variables.$dark-color;
                color: #fff;
                &:disabled {
                    transform: unset;
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}
