@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.active-passcode-page {
    height: 100%;
    &__content {
        &-item {
            background-color: rgba(#fff, 0.3);
            padding: 1rem;
            border-radius: 0.25rem;
            &.before-update-passcode {
                @include mixins.scale-animation(0.98, 0.98);
                background-color: rgba(variables.$primary-color, 0.2);
                cursor: pointer;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
