@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.setting-page {
    $article-header: 3rem;
    height: calc(100% - variables.$dock-menu-height);
    padding-bottom: variables.$page-layout-padding;
    &__header {
        @include mixins.glass;
        height: $article-header;
        padding: 0 0.5rem;
        i.mdi-chevron-right {
            font-size: 1.5rem;
        }
        button {
            @include mixins.glass-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            &:has(b) {
                padding: 0 0.25rem;
            }
            &.btn-setting {
                width: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__content {
        @include mixins.glass;
        flex: 1 0;
        padding: 1rem;
        .introduce {
            flex: 0 0 15%;
            b.text-title {
                font-size: 1.25rem;
            }
            p.text-desc {
                font-size: 0.9rem;
            }
        }
        .inner-page {
            flex: 1 0 85%;
        }
    }
}
