@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.setting-page {
    $article-header: 3rem;
    height: calc(100% - variables.$dock-menu-height);
    padding-bottom: variables.$page-layout-padding;
    &__header {
        @include mixins.glass;
        height: $article-header;
        padding: 0 0.5rem;
        button {
            @include mixins.fade-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            width: 2.25rem;
            &.btn-setting {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__content {
        flex: 1 0;
    }
}
