@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.switch-field {
    display: flex;
    $height: 2rem;
    $width: $height * 2;
    &__input {
        appearance: none;
        position: relative;
        height: $height;
        width: $width;
        background-color: #eee;
        box-shadow: 0 0 0 1px rgba(#c3c3c3, 0.5);
        border-radius: calc($height / 2);
        transition: transform 0.3s;
        cursor: pointer;
        &:checked {
            box-shadow: none;
            background-color: rgba(variables.$theme-color, 0.8);
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: $height;
            width: $height;
            border-radius: 50%;
            background-color: #fff;
            transition: transform 0.3s;
            content: '';
            cursor: pointer;
        }
        &:hover::before {
            box-shadow: 0 0 0 0.5rem rgba(#000, 0.15);
        }
        &:checked:hover::before {
            box-shadow: 0 0 0 0.5rem rgba(variables.$theme-color, 0.15);
        }
        &:checked:before {
            transform: translateX(100%);
        }
        &:disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}
