@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.text-field {
    width: 100%;
    label {
        font-size: 1rem;
        font-family: 'Pretendard Bold';
        font-weight: 700;
        line-height: 2;
        padding: 0 0.25rem;
    }
    &__input {
        min-height: 2.5rem;
        width: 100%;
        padding: 0 0.5rem;
        border: 1px solid variables.$border-color;
        border-radius: 0.25rem;
        &:focus {
            border: 1px solid variables.$theme-color;
        }
    }
    &__textarea {
        min-height: 5rem;
        width: 100%;
        padding: 0.5rem;
        resize: vertical;
        border: 1px solid variables.$border-color;
        border-radius: 0.25rem;
        &:focus {
            border: 1px solid variables.$theme-color;
        }
    }
}
// vue-date-picker 내부 라이브러리 색상 커스터마이징
.dp__input_focus,
.text-field__input:focus,
.text-field__textarea:focus {
    & {
        border: 1px solid variables.$border-color;
    }
}
.dp__input {
    font-family: 'Pretendard';
    background-color: transparent;
}
.dp__overlay_cell_active,
.dp__active_date {
    background-color: variables.$theme-color !important;
}
