@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.context-menu {
    @include mixins.glass(#fff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: calc(1rem * 15);
    border-radius: 0.25rem;
    border: 2px solid variables.$border-color;
    &__header {
        button.btn-close {
            @include mixins.scale-animation;
            border-radius: 0.25rem;
            padding: 0.1rem;
            i {
                font-size: 1.2rem;
                color: variables.$dark-color;
            }
        }
    }
    &__content {
        padding: 0.5rem 0;
        .text-label {
            font-size: 0.9rem;
            color: variables.$dark-color;
        }
        .text-shortcut {
            font-size: 0.9rem;
            letter-spacing: 0;
            color: variables.$dark-color;
        }
    }
}
