@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.data-table {
    $table-header-height: 3rem;
    position: relative;
    border-radius: 0.25rem;
    &__header {
        flex: 0 0 5%;
        width: 100%;
        padding: 0.5rem 0;
        select {
            background-color: rgba(#fff, 0.3);
            border-radius: 0.25rem;
            padding: 0.25rem;
            font-size: 0.9rem;
            color: variables.$dark-color;
        }
        .text-field__input {
            padding: unset;
            border: none;
            height: 100%;
            width: fit-content;
            font-size: 0.9rem;
            min-height: unset;
            background-color: rgba(#fff, 0.3);
            padding: 0 0.5rem;
            box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
            &::placeholder {
                color: variables.$dark-color;
            }
            &:hover {
                border: none;
            }
        }
    }
    &__content {
        table {
            background-color: rgba(#fff, 0.3);
            position: relative;
            table-layout: auto !important;
            border-radius: 0.25rem;
            border-collapse: collapse;
            width: 100%;
            th,
            td {
                text-align: center;
                word-break: break-word;
                padding: 0 0.75rem;
                height: 2rem;
                font-size: 0.9rem;
            }
            thead {
                th {
                    cursor: pointer;
                    @include mixins.glass-animation;
                }
            }
            tbody {
                td {
                    @include mixins.glass-animation;
                }
            }
        }
    }
    &__actions {
        flex: 0 0 5%;
        padding: 1rem;
        box-sizing: border-box;
        .btn-pagination {
            font-size: 0.9rem;
            cursor: pointer;
            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}
