@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.dock-menu {
    @include mixins.glass;
    height: variables.$dock-menu-height;
    padding: 0 0.5rem;
    button {
        @include mixins.glass-animation;
        @include mixins.tooltip;
        @extend .box-shadow !optional;
        color: #fff;
        i {
            font-size: 1.5rem;
            color: var(--dark-color);
        }
        &.btn-lock {
            @include mixins.cubic(variables.$dark-color, 2.25rem);
        }
        &.btn-diary {
            @include mixins.cubic(variables.$diary-color, 2.25rem);
        }
        &.btn-todo {
            @include mixins.cubic(variables.$todo-color, 2.25rem);
        }
        &.btn-setting {
            @include mixins.cubic(variables.$dark-color, 2.25rem);
        }
        &.btn-crawler {
            @include mixins.cubic(variables.$crawler-color, 2.25rem);
        }
        &.btn-exit {
            @include mixins.cubic(variables.$dark-color, 2.25rem);
            font-size: 2.25rem;
        }
    }
}
