@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.modal-dialog {
    $modal-dialog-width: calc(100vw / 3);
    $modal-dialog-header-height: 3rem;
    &__card {
        min-width: $modal-dialog-width;
        background-color: #fff;
        box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        height: fit-content;
        box-sizing: border-box;
        padding: 0.25rem 0;
        &-header {
            min-height: $modal-dialog-header-height;
            width: 100%;
            padding: 0 1rem;
            button {
                @include mixins.scale-animation;
                i {
                    font-size: 1.75rem;
                }
            }
        }
        &-content {
            min-height: calc($modal-dialog-header-height * 2);
            // overflow-y: auto;
            p.text-default-message {
                padding: 0 1rem;
                word-break: break-all;
            }
        }
        &-actions {
            height: calc($modal-dialog-header-height * 1.5);
            padding: 1rem;
            button {
                @include mixins.scale-animation;
                border-radius: 0.25rem;
                width: 40%;
                height: 100%;
                &.btn-cancel {
                    background-color: #ececec;
                }
                &.btn-confirm {
                    background-color: var(--dark-color);
                    color: #fff;
                }
            }
        }
    }
}
