@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.base-card {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    &__header {
        padding: 0.5rem;
    }
    &__content {
        flex: 1;
        padding: 0.5rem;
        * {
            font-size: 0.9rem;
        }
    }
    &__actions {
        min-height: 4.5rem;
        width: 100%;
        button {
            @include mixins.scale-animation;
            border-radius: 0.25rem;
            height: 2.5rem;
            width: 50%;
            &.btn-cancel {
                background-color: variables.$gray-light-color;
            }
            &.btn-submit {
                background-color: variables.$dark-color;
                color: #fff;
                &:disabled {
                    transform: unset;
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
    &.base-card--form {
        padding: 0 2rem;
    }
    &:not(.base-card--form) {
        @include mixins.scale-animation(0.9, 0.9, hover);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.25rem #000;
        background-color: variables.$dark-color;
    }
}
