@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.write-card {
    @include mixins.scale-animation(0.9, 0.9, hover);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem #000;
    background-color: variables.$dark-color;
    cursor: pointer;
    &__header {
        padding: 0.5rem;
        span {
            color: #fff;
        }
    }
    &__content {
        flex: 1;
        padding: 0.5rem;
        p.text-url {
            font-size: 0.9rem;
        }
    }
}
