@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-page {
    $article-header: 3rem;
    height: calc(100% - variables.$dock-menu-height);
    &__header {
        @include mixins.glass;
        height: $article-header;
        padding: 0 0.5rem;
        button {
            @include mixins.fade-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            width: 2.25rem;
            &.btn-tree {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
            &.btn-docs {
                border-radius: 0.25rem;
                i {
                    font-size: 1.5rem;
                    color: variables.$folder-color;
                }
            }
        }
    }
    &__content {
        $item-size: 20rem;
        display: grid;
        grid-template-rows: repeat(auto-fill, $item-size);
        grid-template-columns: repeat(auto-fill, $item-size);
        height: calc(100vh - variables.$dock-menu-height - $article-header);
        justify-content: center;
        overflow-y: scroll;
        gap: 1rem;
        padding: 1rem 0;
        &-item {
            height: $item-size;
            width: $item-size;
        }
    }
}
