@use '@/assets/css/abstracts/variables';
:root {
    --dark-color: #{variables.$dark-color};
    --primary-color: #{variables.$primary-color};
    --folder-color: #{variables.$folder-color};
    --danger-color: #{variables.$danger-color};
    /** */
    --app-drawer-width: 300;
    --theme-color-1: #{variables.$dark-light-color};
    --success-color: #06d6a0;
}
*::-webkit-scrollbar {
    display: none;
}
* {
    scroll-behavior: smooth;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
p {
    margin: 0 !important;
}
p,
span,
input,
label {
    font-family: 'Pretendard';
    color: var(--dark-color);
}
b,
button {
    font-family: 'Pretendard SemiBold';
    color: var(--dark-color);
}
h1, h2, h3, h4, h5 {
    font-family: 'Pretendard Bold';
}
ul {
    list-style: none;
    padding-left: unset !important;
}
code {
    background-color: unset !important;
}