@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.detail-page {
    $article-header: 3rem;
    $article-actions: 2.5rem;
    height: calc(100% - variables.$dock-menu-height);
    position: relative;
    // dock-menu 와 이격을 위함
    padding-bottom: 0.25rem;
    &__header {
        @include mixins.glass(variables.$diary-color);
        height: $article-header;
        padding: 0 0.5rem;
        button {
            @include mixins.scale-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            width: 2.25rem;
            &.btn-drawer {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
            &.btn-back {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
        }
        .editing {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--danger-color);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.5s;
        }
    }
    &__content {
        $resizerWidth: 0.25rem;
        height: calc(100vh - $article-header - $article-actions - variables.$dock-menu-height);
        overflow-y: scroll;
        textarea {
            @include mixins.glass;
            backdrop-filter: unset;
            height: 100%;
            font-family: 'D2Coding';
            padding: 0.5rem;
            resize: none;
            min-width: 20%;
            overflow: hidden;
        }
        .resizer {
            height: 100%;
            width: $resizerWidth;
            min-width: $resizerWidth;
            max-width: $resizerWidth;
            border-color: transparent;
            cursor: col-resize;
        }
        .preview {
            min-width: 20%;
            height: 100%;
        }
    }
    &__actions {
        height: $article-actions;
        width: 100%;
        button.btn-submit {
            @include mixins.glass(variables.$diary-color);
            @include mixins.tooltip;
            @include mixins.scale-animation(0.99, 0.8);
            border-radius: 0.25rem;
            i {
                font-size: 2rem;
                color: variables.$diary-color;
            }
        }
    }
}
