@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-page {
    $article-header: 3rem;
    height: calc(100vh - variables.$dock-menu-height);
    &__header {
        @include mixins.glass;
        height: $article-header;
        button {
            @include mixins.hover-button;
            @include mixins.tooltip;
            padding: 0 1rem;
            &.btn-tree {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                }
            }
            &.btn-files {
                height: 2.25rem;
                i {
                    font-size: 1.5rem;
                    color: var(--folder-color);
                }
            }
        }
    }
    &__content {
        $item-size: 20rem;
        display: grid;
        grid-template-rows: repeat(auto-fill, $item-size);
        grid-template-columns: repeat(auto-fill, $item-size);
        height: calc(100vh - variables.$dock-menu-height - $article-header);
        justify-content: center;
        overflow-y: scroll;
        gap: 1rem;
        padding: 1rem 0;
        &-item {
            height: $item-size;
            width: $item-size;
        }
    }
    .btn-folder {
        i {
            color: var(--folder-color);
        }
    }
}
