.diary-card {
    border: 1px solid var(--theme-color-1);
    height: 100%;
    &__filename {
        height: 10%;
        p {
            font-size: 14px;
        }

    }
    &__preview {
        height: 70%;
        overflow-y: hidden;
    }
    &__created-at {
        height: 20%;
        p {
            font-size: 14px;
        }
    }
}
