.diary-card {
    height: 100%;
    .dc-row-title {
        height: 15%;
        .dc-text-title {
            font-size: 15px;
        }
    }
    .dc-row-preview {
        height: 65%;
        overflow-y: hidden;
    }
    .dc-row-created-at {
        height: 20%;
        .dc-text-date {
            font-size: 13px;
        }
    }
}
