@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.diary-file {
    &__content {
        &-item {
            // @include mixins.color-animation(variables.$diary-color);
            gap: 0.1rem;
            b {
                font-size: 0.9rem;
            }
            i {
                font-size: 1.25rem;
                line-height: 1;
                &.mdi-folder {
                    color: variables.$folder-color;
                }
            }
            &:hover {
                @include mixins.pulse-animation(variables.$diary-color);
            }
            &:active {
                transform: scale(0.8);
            }
        }
    }
}
