@use '@/assets/css/abstracts/mixins';
.diary-card {
    @include mixins.glass;
    height: 100%;
    transition-property: transform, opacity;
    transition: .5s ease;
    &__header {
        border-bottom: 1px solid var(--border-color);
        height: 10%;
        p {
            font-size: 1rem;
            line-height: 1;
            font-weight: 700;
        }
    }
    &__content {
        height: 70%;
        overflow-y: hidden;
        width: 100%;
    }
    &__footer {
        border-top: 1px solid var(--border-color);
        height: 20%;
        p {
            font-size: .9rem;
            line-height: 1;
        }
    }
    &:hover {
        transform: scale(.95);
        opacity: .5;
    }
}
