.diary-input-path {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'D2Coding';
    color: var(--dark-color);
    border-bottom: 2px dashed var(--theme-color-1);
    outline: none;
}
