.diary-tree {
    b {
        font-size: 0.9rem;
    }
    i {
        font-size: 1.25rem;
        line-height: 1;
        color: var(--dark-color);
    }
    i.mdi-folder {
        color: var(--folder-color);
    }
}
