@use '@/assets/css/abstracts/variables';
@use '@/assets/css/abstracts/mixins';
.todo-page {
    $article-header: 3rem;
    height: calc(100% - variables.$dock-menu-height);
    &__header {
        @include mixins.glass;
        height: $article-header;
        padding: 0 0.5rem;
        button {
            @include mixins.scale-animation;
            @include mixins.tooltip;
            height: 2.25rem;
            width: 2.25rem;
            i {
                font-size: 1.5rem;
                &.mdi-flag-variant {
                    color: variables.$todo-color;
                    opacity: 0.5;
                }
            }
            &.btn-refresh {
                height: calc(variables.$dock-menu-height / 2);
                background-color: rgba(#fff, 0.3);
                border-radius: 0.25rem;
            }
        }
        .text-field__input {
            padding: unset;
            border: unset;
            height: calc(variables.$dock-menu-height / 2);
            font-size: 0.9rem;
            min-height: unset;
            background-color: rgba(#fff, 0.3);
            padding: 0 0.5rem;
            &::placeholder {
                color: variables.$dark-color;
            }
        }
    }
    &__content {
        height: calc(100vh - variables.$dock-menu-height - $article-header);
        width: calc(100vw - variables.$page-layout-padding * 2);
        position: relative;
        overflow-x: scroll;
        padding: 1rem 0;
        &-item {
            @include mixins.glass;
            $item-size: 16rem;
            height: 100%;
            width: calc($item-size + 1rem);
            min-width: calc($item-size + 1rem);
            border-radius: 0.25rem;
            border: unset;
            overflow-y: scroll;
            &-header {
                background-color: rgba(variables.$todo-color, 0.9);
                padding: 0.5rem 1rem;
                b {
                    color: #fff;
                }
            }
            .todo-card {
                width: 100%;
                height: calc($item-size / 1.5);
                border: unset;
            }
        }
        // 우측 공간 뿌옇게 함
        /*
        &:after {
            position: fixed;
            right: 0;
            width: 1rem;
            height: calc(100vh - variables.$dock-menu-height - $article-header - 1rem);
            content: '';
            z-index: 1;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0,
                rgba(255, 255, 255, 0.7) 40%,
                #fff 70%
            );
        }
        */
    }
}
