.app-drawer {
    $rowFooter: 48px;
    height: 100%;
    .ad-card {
        position: relative;
        height: 100%;
        .ad-row-category {
            height: calc(100vh - var(--app-header-height));
            overflow: scroll;
        }
        /*
        .row-footer {
            position: absolute;
            height: $rowFooter;
            bottom: 0;
            width: 100%;
        }
        */
    }
}
