.app-header {
    background: var(--theme-color-1) !important;
    .ico-menu {
        color: #fff;
    }
    .ico-folder {
        color: var(--folder-color);
    }
    .ico-power-off {
        color: #fff;
    }
}
